<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block nav %}
    <a href="/">Accueil</a>
    {% endblock %}
    {% block body %}{% endblock %}
  </body>
</html>
