<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <form action="/" method="get" id="formulaireConnec">
        <input type="text" name="title">
        <input type="submit">
      </form>
    </div>
    {% block nav %}
    <a href="/">Accueil</a>
    {% endblock %}
    {% block body %}{% endblock %}
  </body>
</html>
